footer
{
	margin-top:10px;
	background-color:#33E0FF;
	width:100%;
	text-align:center;
	clear:both;
}
img
{
	width:5%;
	height:5%;
	float:left;
	margin-left:25px;
}
p
{
	float:left;
	margin-left:200px;
}